.kongjianright {
	background-position: top; border: 1px solid rgb(225, 225, 225); width: 740px; display: inline; min-height: 946px; background-image: url("../images/sertssbgbg.jpg"); background-repeat: repeat-x; background-color: rgb(255, 255, 255); _height: 946px;
}
.kongjianrightadb {
	width: 705px; height: 19px; text-align: left; margin-top: 28px; margin-left: 18px; float: left; display: inline;
}
.kongjianrightadc {
	width: 705px; text-align: left; line-height: 20px; margin-top: 8px; margin-left: 18px; float: left; display: inline; min-height: 19px; _height: 19px;
}

